<?xml version="1.0" encoding="utf-8"?>
<Macro Key="f1dbb05a-7893-41f9-bfed-6117ba7057a8" Alias="ContactForm" Level="0">
  <Name>ContactForm</Name>
  <MacroSource>~/Views/MacroPartials/ContactForm.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>