<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f54bf02b-8bfa-4400-b08c-830b08500ba1" Alias="accreditations" Level="2">
  <Info>
    <Name>Accreditations</Name>
    <Icon>icon-check color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Objects</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ebb6c854-cc78-4b9d-bd24-4004f2c75189" SortOrder="0">accreditation</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>