<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cba8f665-b3ad-4f98-a7bf-3c3b72cec30b" Alias="caseStudies" Level="2">
  <Info>
    <Name>Case Studies</Name>
    <Icon>icon-newspaper color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Parent>
    <Compositions>
      <Composition Key="85a337ef-7e8c-498d-8f4d-655edc684409">navbarDefaultVisible</Composition>
      <Composition Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Composition>
    </Compositions>
    <DefaultTemplate>CaseStudies</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7142d1b9-a997-4028-8972-57cd81cfb5e6">CaseStudies</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b58dee12-f0db-4494-9e13-e859897c547f" SortOrder="0">caseStudy</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>