<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb630c4b-20ea-4119-9e0f-6f4e836d1daa" Alias="clientsAndSuppliers" Level="2">
  <Info>
    <Name>Clients And Suppliers</Name>
    <Icon>icon-client color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Objects</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="02131f32-b556-44d5-864a-24fd381862ee" SortOrder="0">clientSupplier</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>