<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aef50a1f-0182-4321-b3f5-8f4ed7fb0e0a" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-message color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Parent>
    <Compositions>
      <Composition Key="85a337ef-7e8c-498d-8f4d-655edc684409">navbarDefaultVisible</Composition>
      <Composition Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Composition>
    </Compositions>
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7a3e02d6-6ba5-40ed-8d5e-fe6c7e3679f4">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a7ce8f25-a6af-414f-98f8-d807ce66ec1b" SortOrder="0">formSubmission</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>88946f9a-3d80-44fe-97e6-f31b584b49c3</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>0898b403-c0cd-472b-a803-cbcdf74a6dfd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6439db12-3972-4c9d-aa75-52d27608387e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>