<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7142339f-ab3e-4f70-89e3-5b613f67e435" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Parent>
    <Compositions>
      <Composition Key="eafbb76c-711b-476b-abf7-d23f336cf83a">navbarDefaultHidden</Composition>
      <Composition Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8688af1a-5532-42c9-b83c-47d82695303a">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c14c61d4-33f9-4489-8719-28d2f76ff0cd</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>e0d998ef-65e3-4eb0-ad9b-41207d301650</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fefee2ff-3488-4cf4-a576-59093c0febbf</Key>
      <Name>Related Services</Name>
      <Alias>relatedServices</Alias>
      <Definition>6ab59ce8-becd-41f4-a52d-05bd22ee5ead</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>201754fe-9e2f-4f2b-8a21-d0de3a8e4392</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>