<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c7b8747-277e-4040-9edc-f6602dd68a3b" Alias="moiraeMaintenance" Level="2">
  <Info>
    <Name>Moirae Maintenance</Name>
    <Icon>icon-alert color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Parent>
    <Compositions>
      <Composition Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Composition>
    </Compositions>
    <DefaultTemplate>MoiraeMaintenance</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7995b99a-0b85-43b5-bbab-6e453f489b9a">MoiraeMaintenance</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>