<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c2aa74dc-ebf9-4ec0-aee4-c005d4233da8" Alias="notificationList" Level="2">
  <Info>
    <Name>Notification List</Name>
    <Icon>icon-message color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Objects</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="f0616dcc-1662-4080-a81a-58fcdc78fe0d" SortOrder="0">recipient</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>