<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cc947654-d2d4-4315-a10f-9ef38d3eb600" Alias="sectors" Level="2">
  <Info>
    <Name>Sectors</Name>
    <Icon>icon-pie-chart color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Parent>
    <Compositions>
      <Composition Key="85a337ef-7e8c-498d-8f4d-655edc684409">navbarDefaultVisible</Composition>
      <Composition Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Composition>
    </Compositions>
    <DefaultTemplate>Sectors</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6bf8ed96-b7b9-4b34-9a5a-b04f0d3f7206">Sectors</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="546b75f8-167e-4548-851c-36fb36526bb0" SortOrder="0">sector</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>