<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c983c87-b779-400a-8f87-ee6ab15d283a" Alias="sectorsBlock" Level="2">
  <Info>
    <Name>Sectors Block</Name>
    <Icon>icon-pie-chart color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f8222d38-8b3a-4dde-8947-1debc0ad0e9c">blocks</Parent>
    <Compositions>
      <Composition Key="f8222d38-8b3a-4dde-8947-1debc0ad0e9c">blocks</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>