<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b94e6bd7-426a-4926-9b7e-26c04101692c" Alias="service" Level="2">
  <Info>
    <Name>Service</Name>
    <Icon>icon-wrench color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Parent>
    <Compositions>
      <Composition Key="85a337ef-7e8c-498d-8f4d-655edc684409">navbarDefaultVisible</Composition>
      <Composition Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Composition>
    </Compositions>
    <DefaultTemplate>Service</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a15d7cb-c56f-49fb-8d92-4fad49f14816">Service</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>64b2ba15-a82e-4937-b679-c71a637ca11f</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>7b9ecb43-f3f3-4ec6-bb11-a0c2528d1f03</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>052150dd-8997-496b-97fd-3c1f341b83d9</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>