<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7bfd3c0d-7034-4946-8e3a-81b3af433871" Alias="socials" Level="2">
  <Info>
    <Name>Socials</Name>
    <Icon>icon-chat-active color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Objects</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="271ae9ed-0d64-499b-b83a-cbab0b540804" SortOrder="0">social</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>