<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8da91195-9e45-4edf-8f26-f2acf9d3e9d7" Alias="teamBlock" Level="2">
  <Info>
    <Name>Team Block</Name>
    <Icon>icon-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="f8222d38-8b3a-4dde-8947-1debc0ad0e9c">blocks</Parent>
    <Compositions>
      <Composition Key="f8222d38-8b3a-4dde-8947-1debc0ad0e9c">blocks</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>de142d4c-4047-46d0-ba57-e61266ca0259</Key>
      <Name>Team Members</Name>
      <Alias>teamMembers</Alias>
      <Definition>7110af5b-3ad8-4013-af66-df9a508d861a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2f550d06-356d-40c2-8cbe-4692bf53fa56</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>