<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bdddb2c6-190e-486b-a22f-dddc9b76f97f" Alias="textPage" Level="2">
  <Info>
    <Name>Text Page</Name>
    <Icon>icon-article color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Parent>
    <Compositions>
      <Composition Key="eafbb76c-711b-476b-abf7-d23f336cf83a">navbarDefaultHidden</Composition>
      <Composition Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Composition>
    </Compositions>
    <DefaultTemplate>TextPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0f0083c6-8958-4f29-addc-6e3c4233b913">TextPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>986aa6aa-a548-4e03-ac88-91b55c86c1a4</Key>
      <Name>Text</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4dc5cde9-0f89-4b56-849a-1f32f5e28e86</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>