<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="453f7d5b-a0db-4abd-a8ed-9c55dbffd38e" Alias="thanksPage" Level="2">
  <Info>
    <Name>Thanks Page</Name>
    <Icon>icon-smiley-inverted color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Parent>
    <Compositions>
      <Composition Key="27d55c80-53ba-43dc-abed-d9cc1dd90fb9">webpages</Composition>
    </Compositions>
    <DefaultTemplate>ThanksPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8de066a4-e68c-4795-a1f3-4545673b0efd">ThanksPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>