<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee3c4797-a471-408e-8b34-8c7beb2514f0" Alias="About 1410Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/About1410Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:03:09</CreateDate>
    <NodeName Default="About 1410Px" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sfddz1tr/about-1410px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>