<?xml version="1.0" encoding="utf-8"?>
<Media Key="f8937aea-e376-496a-af84-20ce3419a3ff" Alias="About 1410Px" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/About1410Px</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-08T14:21:35</CreateDate>
    <NodeName Default="About 1410Px" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3r3jh4dw/about-1410px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>