<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bc4e9c3-8cf3-496b-9e25-f63c1eb45b69" Alias="Acc" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/Acc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T14:16:30</CreateDate>
    <NodeName Default="Acc" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yxunig5t/acc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>