<?xml version="1.0" encoding="utf-8"?>
<Media Key="3162d630-9e1f-43ad-8124-5ae5b98c6cf0" Alias="Accreditations" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Accreditations</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-12T11:50:58</CreateDate>
    <NodeName Default="Accreditations" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>