<?xml version="1.0" encoding="utf-8"?>
<Media Key="d14343b3-3766-4c70-9970-b84061fa980d" Alias="Adobestock 254487671" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/Adobestock254487671</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:04</CreateDate>
    <NodeName Default="Adobestock 254487671" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altTag>
      <Value><![CDATA[]]></Value>
    </altTag>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wvbfhulg/adobestock_254487671-min.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>