<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc608f8c-ba2a-4f6c-8699-8f39de49b474" Alias="Adobestock 286346732" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/Adobestock286346732</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:33:12</CreateDate>
    <NodeName Default="Adobestock 286346732" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rkhhbpbk/adobestock_286346732.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>