<?xml version="1.0" encoding="utf-8"?>
<Media Key="a81bd32b-27e6-4bd3-bc87-1582c86f85e7" Alias="Adobestock 122562053" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/Adobestock122562053</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:05</CreateDate>
    <NodeName Default="Adobestock 122562053" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <altTag>
      <Value><![CDATA[]]></Value>
    </altTag>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fxjbxkhg/adobestock_122562053-min.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>