<?xml version="1.0" encoding="utf-8"?>
<Media Key="340e7b88-b3d7-4abf-bf61-57c20872667b" Alias="Adobestock 5849644" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/Adobestock5849644</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:04</CreateDate>
    <NodeName Default="Adobestock 5849644" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altTag>
      <Value><![CDATA[]]></Value>
    </altTag>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rz3b2ngx/adobestock_5849644-min.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>