<?xml version="1.0" encoding="utf-8"?>
<Media Key="c22046e6-5e41-40a6-9c5e-80b4e9cdef33" Alias="Aerospace Icon Hover" Level="4">
  <Info>
    <Parent Key="1a5f30b7-e3ab-4165-8b2c-dab128572407">Hover</Parent>
    <Path>/Icons/SectorIcons/Hover/AerospaceIconHover</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:05:01</CreateDate>
    <NodeName Default="Aerospace Icon Hover" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/03dcbqsb/aerospace-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>