<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc764269-f18e-4b66-b5e3-5ba3cc3c28eb" Alias="Aerospace Icon Hover" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AerospaceIconHover</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:03:11</CreateDate>
    <NodeName Default="Aerospace Icon Hover" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lbbhn5eo/aerospace-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>