<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c501b53-bf70-48cb-8775-26f8797f2a92" Alias="Aerospace Icon" Level="4">
  <Info>
    <Parent Key="74b1ce6b-8971-4150-a73f-acee1c5d858d">Default</Parent>
    <Path>/Icons/ServiceIcons/Default/AerospaceIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:04:20</CreateDate>
    <NodeName Default="Aerospace Icon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/minfa5dq/aerospace-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>