<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dfd2e94-890a-4c54-b3be-d509a373c509" Alias="Aerospace Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AerospaceIcon</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:03:10</CreateDate>
    <NodeName Default="Aerospace Icon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uuxp0lik/aerospace-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>