<?xml version="1.0" encoding="utf-8"?>
<Media Key="121b913b-0ff5-404a-9276-ab24a6a952d3" Alias="Automotive Icon Hover" Level="4">
  <Info>
    <Parent Key="1a5f30b7-e3ab-4165-8b2c-dab128572407">Hover</Parent>
    <Path>/Icons/SectorIcons/Hover/AutomotiveIconHover</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:05:02</CreateDate>
    <NodeName Default="Automotive Icon Hover" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bkibwexv/automotive-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>