<?xml version="1.0" encoding="utf-8"?>
<Media Key="e51f64ba-65dd-4a9c-a02e-90f3ab52b5ab" Alias="Automotive Icon" Level="4">
  <Info>
    <Parent Key="74b1ce6b-8971-4150-a73f-acee1c5d858d">Default</Parent>
    <Path>/Icons/ServiceIcons/Default/AutomotiveIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:04:21</CreateDate>
    <NodeName Default="Automotive Icon" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rnsb5zo3/automotive-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>