<?xml version="1.0" encoding="utf-8"?>
<Media Key="5618fb4c-bd3c-4948-91dc-5631253d0d5b" Alias="Automotive Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AutomotiveIcon</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:03:11</CreateDate>
    <NodeName Default="Automotive Icon" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/px3bqvr2/automotive-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>