<?xml version="1.0" encoding="utf-8"?>
<Media Key="54658b9f-66c8-4173-bfd2-a2eacb553a83" Alias="Automotive Icon Hover" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AutomotiveIconHover</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:03:12</CreateDate>
    <NodeName Default="Automotive Icon Hover" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v0fhkvgi/automotive-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>