<?xml version="1.0" encoding="utf-8"?>
<Media Key="75c046ba-4266-4567-a4a2-9bb1706ebaef" Alias="Bg Design 1410Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BgDesign1410Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:03:13</CreateDate>
    <NodeName Default="Bg Design 1410Px" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xrdma3lg/bg-design-1410px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>