<?xml version="1.0" encoding="utf-8"?>
<Media Key="58bc3a82-a9bf-4ca7-ab2e-101c2a8bf1ad" Alias="Bg Injection Moulding 1110Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BgInjectionMoulding1110Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:02:53</CreateDate>
    <NodeName Default="Bg Injection Moulding 1110Px" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qq3lywf5/bg-injection-moulding-1110px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>