<?xml version="1.0" encoding="utf-8"?>
<Media Key="a945c992-a4ee-4590-bd44-be08732e7a3e" Alias="Bg Injection Moulding 1410Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BgInjectionMoulding1410Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:02:53</CreateDate>
    <NodeName Default="Bg Injection Moulding 1410Px" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/steflkpo/bg-injection-moulding-1410px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>