<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c1c82d6-4b14-427e-bd27-5b5e8837384d" Alias="Bg Toolmaking 1110Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BgToolmaking1110Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:02:51</CreateDate>
    <NodeName Default="Bg Toolmaking 1110Px" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0cbbzdau/bg-toolmaking-1110px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>