<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d2a7f8b-69cd-4e72-96c9-60d7adc1c396" Alias="Biodegradable Ring" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BiodegradableRing</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:19</CreateDate>
    <NodeName Default="Biodegradable Ring" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rv5dudon/biodegradable-ring.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>