<?xml version="1.0" encoding="utf-8"?>
<Media Key="58ce382b-7d66-4dc5-a4da-51381ba71583" Alias="Biodegradable Deko Tray" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BiodegradableDekoTray</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:18</CreateDate>
    <NodeName Default="Biodegradable Deko Tray" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fu2m2wdg/biodegradable-deko-tray.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>