<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ab7a17f-b306-424a-9d59-ed3b9c10ee79" Alias="Biodegradable Base And Cage" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BiodegradableBaseAndCage</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:18</CreateDate>
    <NodeName Default="Biodegradable Base And Cage" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pgqlo4qg/biodegradable-base-and-cage.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>