<?xml version="1.0" encoding="utf-8"?>
<Media Key="449427e0-619d-407e-810f-c9db78a548db" Alias="Click" Level="3">
  <Info>
    <Parent Key="2c028abd-327e-4738-be42-a70b541b35e1">Service Icons</Parent>
    <Path>/Icons/ServiceIcons/Click</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-01T11:34:46</CreateDate>
    <NodeName Default="Click" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>