<?xml version="1.0" encoding="utf-8"?>
<Media Key="824d7763-db13-41b3-9305-9afe63a71ffd" Alias="Consumerproducts Icon Hover" Level="4">
  <Info>
    <Parent Key="1a5f30b7-e3ab-4165-8b2c-dab128572407">Hover</Parent>
    <Path>/Icons/SectorIcons/Hover/ConsumerproductsIconHover</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:05:02</CreateDate>
    <NodeName Default="Consumerproducts Icon Hover" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kj1f1aqt/consumerproducts-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>