<?xml version="1.0" encoding="utf-8"?>
<Media Key="42dc8f5c-89df-4aee-a5f2-89047c6b7fb3" Alias="Consumerproducts Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ConsumerproductsIcon</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:02:50</CreateDate>
    <NodeName Default="Consumerproducts Icon" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nwhnyqw5/consumerproducts-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>