<?xml version="1.0" encoding="utf-8"?>
<Media Key="738bbfee-2f3a-4aa7-8292-f0eea19528d9" Alias="Consumerproducts Icon Hover" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ConsumerproductsIconHover</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:02:51</CreateDate>
    <NodeName Default="Consumerproducts Icon Hover" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/145jw2z0/consumerproducts-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>