<?xml version="1.0" encoding="utf-8"?>
<Media Key="74b1ce6b-8971-4150-a73f-acee1c5d858d" Alias="Default" Level="3">
  <Info>
    <Parent Key="2c028abd-327e-4738-be42-a70b541b35e1">Service Icons</Parent>
    <Path>/Icons/ServiceIcons/Default</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-01T11:34:38</CreateDate>
    <NodeName Default="Default" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>