<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1a7d798-2d9f-45b9-8c2d-4aaaa7d1085c" Alias="Design Header 1410Px" Level="3">
  <Info>
    <Parent Key="0a8988ae-3f48-4e7b-8422-d7c74e876a3c">Heros</Parent>
    <Path>/Images/Heros/DesignHeader1410Px</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:23:19</CreateDate>
    <NodeName Default="Design Header 1410Px" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/t1llpim5/design-header-1410px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>