<?xml version="1.0" encoding="utf-8"?>
<Media Key="93f374ec-7739-42a5-be24-6ff446dd2c73" Alias="Design Header 768Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DesignHeader768Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:02:54</CreateDate>
    <NodeName Default="Design Header 768Px" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3j0phezz/design-header-768px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>