<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ad416d6-1f67-4bb8-b43d-c654035d4bf8" Alias="Design Header 320Px" Level="3">
  <Info>
    <Parent Key="0a8988ae-3f48-4e7b-8422-d7c74e876a3c">Heros</Parent>
    <Path>/Images/Heros/DesignHeader320Px</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:23:17</CreateDate>
    <NodeName Default="Design Header 320Px" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0alnicth/design-header-320px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>