<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e5df227-d9c4-43cd-ad09-e77c14225e81" Alias="Design Header 1410Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DesignHeader1410Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:02:55</CreateDate>
    <NodeName Default="Design Header 1410Px" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ehzf0twe/design-header-1410px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>