<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe526613-668a-4c71-b6e9-192d398200f8" Alias="DJI 0043" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/DJI0043</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:15:05</CreateDate>
    <NodeName Default="DJI 0043" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cvtff5uk/dji_0043.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>