<?xml version="1.0" encoding="utf-8"?>
<Media Key="24013c0c-24a2-4dc9-a772-33b75f82274a" Alias="DJI 0042" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/DJI0042</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:15:04</CreateDate>
    <NodeName Default="DJI 0042" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bi4acjfc/dji_0042.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>