<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e2bd2b5-f7ba-4c57-9258-cca4ca63b165" Alias="DJI 0044" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/DJI0044</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:15:05</CreateDate>
    <NodeName Default="DJI 0044" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wpjcwtv0/dji_0044.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>