<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fba5d82-134f-4992-8e7a-0f290a815d8a" Alias="Doncaster Chamber Member Logo@2X" Level="2">
  <Info>
    <Parent Key="3162d630-9e1f-43ad-8124-5ae5b98c6cf0">Accreditations</Parent>
    <Path>/Accreditations/DoncasterChamberMemberLogo2X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-12T11:52:03</CreateDate>
    <NodeName Default="Doncaster Chamber Member Logo@2X" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qrolud0p/doncaster_chamber_member_logo-2x.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>