<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff6abeef-c3d7-4dd5-ad31-a892e6693f6c" Alias="DSC 0881" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/DSC0881</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:15:07</CreateDate>
    <NodeName Default="DSC 0881" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3g5gv54x/dsc_0881.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>