<?xml version="1.0" encoding="utf-8"?>
<Media Key="855d5017-775d-468e-9ef8-8fb7e4c9377e" Alias="DSC 0865" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/DSC0865</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:15:07</CreateDate>
    <NodeName Default="DSC 0865" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cfif1bk3/dsc_0865.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>