<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3ffa1ce-0bdb-481b-9fbe-1745ad55d092" Alias="DSC 0996" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/DSC0996</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:15:06</CreateDate>
    <NodeName Default="DSC 0996" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zcqp5i41/dsc_0996.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>