<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce74808e-7177-4a58-9a70-a52f2e0e2b5d" Alias="Dust Extraction Inlet1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DustExtractionInlet1</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:33</CreateDate>
    <NodeName Default="Dust Extraction Inlet1" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rcahjttx/dust-extraction-inlet1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>