<?xml version="1.0" encoding="utf-8"?>
<Media Key="2da53354-dea1-413d-adfe-570d07b80858" Alias="Dust Extraction Inlet3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DustExtractionInlet3</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:34</CreateDate>
    <NodeName Default="Dust Extraction Inlet3" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kizlklnb/dust-extraction-inlet3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>