<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbfe92d7-e1d7-453f-8648-82f93eb41362" Alias="Dust Extraction Inlet4" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DustExtractionInlet4</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:33</CreateDate>
    <NodeName Default="Dust Extraction Inlet4" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0gjp344x/dust-extraction-inlet4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>