<?xml version="1.0" encoding="utf-8"?>
<Media Key="5658ea97-2489-49e5-b771-26643e1c944a" Alias="Dust Extraction Moulded Parts" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DustExtractionMouldedParts</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:36</CreateDate>
    <NodeName Default="Dust Extraction Moulded Parts" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/shvfqvuj/dust-extraction-moulded-parts.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>