<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fde170b-9ab8-40b6-a133-a4e855df6bbd" Alias="Dust Extraction Moulded Parts Assembled" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DustExtractionMouldedPartsAssembled</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:34</CreateDate>
    <NodeName Default="Dust Extraction Moulded Parts Assembled" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/buln2p3y/dust-extraction-moulded-parts-assembled.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>