<?xml version="1.0" encoding="utf-8"?>
<Media Key="4101bf7d-1e48-4b2f-b7e5-b45bc2ec51f4" Alias="Dust Extraction Inlet5" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/DustExtractionInlet5</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:14:36</CreateDate>
    <NodeName Default="Dust Extraction Inlet5" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/po5bcqki/dust-extraction-inlet5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>