<?xml version="1.0" encoding="utf-8"?>
<Media Key="370c69f0-43ca-429a-95f9-34532fef0a91" Alias="Electronics Icon Hover" Level="4">
  <Info>
    <Parent Key="1a5f30b7-e3ab-4165-8b2c-dab128572407">Hover</Parent>
    <Path>/Icons/SectorIcons/Hover/ElectronicsIconHover</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:05:01</CreateDate>
    <NodeName Default="Electronics Icon Hover" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yfubyn4k/electronics-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>