<?xml version="1.0" encoding="utf-8"?>
<Media Key="271b9461-a653-4b59-9f96-2673aabc3510" Alias="Electronics Icon Hover" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ElectronicsIconHover</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:02:56</CreateDate>
    <NodeName Default="Electronics Icon Hover" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kckbwj0t/electronics-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>