<?xml version="1.0" encoding="utf-8"?>
<Media Key="276616d3-3fd8-4af1-a303-fcc644824b65" Alias="Electronics Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ElectronicsIcon</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:02:56</CreateDate>
    <NodeName Default="Electronics Icon" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ilgmj4y/electronics-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>