<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a80d457-2ede-43d2-85d5-579211c2c6d7" Alias="Facebook" Level="3">
  <Info>
    <Parent Key="939471ac-a8b7-45f8-b651-0affca00737c">Social Icons</Parent>
    <Path>/Icons/SocialIcons/Facebook</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T16:43:14</CreateDate>
    <NodeName Default="Facebook" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m1kia4w4/facebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>