<?xml version="1.0" encoding="utf-8"?>
<Media Key="162b44a2-493e-433b-85cb-212058b83e99" Alias="Favicon" Level="2">
  <Info>
    <Parent Key="e5209814-56a0-42f8-b675-78f71620617d">Icons</Parent>
    <Path>/Icons/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:44:15</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/urccwfr4/favicon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>