<?xml version="1.0" encoding="utf-8"?>
<Media Key="b344fe85-d233-438e-8316-8c5183154931" Alias="Group 132 (1)" Level="2">
  <Info>
    <Parent Key="0330120c-eaa7-42cb-8c81-2b52b7e27a76">Logos</Parent>
    <Path>/Logos/Group1321</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T11:21:46</CreateDate>
    <NodeName Default="Group 132 (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wt5ejmzt/group-132.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>