<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a17846a-0ed0-42ce-8fc8-360ded005a92" Alias="Group 132" Level="2">
  <Info>
    <Parent Key="0330120c-eaa7-42cb-8c81-2b52b7e27a76">Logos</Parent>
    <Path>/Logos/Group132</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T11:14:56</CreateDate>
    <NodeName Default="Group 132" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/locbowwq/group-132.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>