<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb0973db-5337-4737-8aaf-1fdfa3608914" Alias="Header 320Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Header320Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:02:57</CreateDate>
    <NodeName Default="Header 320Px" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1vzbtozx/header-320px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>