<?xml version="1.0" encoding="utf-8"?>
<Media Key="b41ee637-74e7-4063-91a7-ff3db9b43951" Alias="Headerdark 1110Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Headerdark1110Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:02:59</CreateDate>
    <NodeName Default="Headerdark 1110Px" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ghtb3nhh/headerdark-1110px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>