<?xml version="1.0" encoding="utf-8"?>
<Media Key="2da57269-1b43-412d-82cd-7932cb5f21ff" Alias="Header 1410Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Header1410Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:02:59</CreateDate>
    <NodeName Default="Header 1410Px" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n3zkklkd/header-1410px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>