<?xml version="1.0" encoding="utf-8"?>
<Media Key="be0f4dd6-965d-42fe-89ba-417b702b0dd9" Alias="Header 768Px" Level="3">
  <Info>
    <Parent Key="0a8988ae-3f48-4e7b-8422-d7c74e876a3c">Heros</Parent>
    <Path>/Images/Heros/Header768Px</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:23:20</CreateDate>
    <NodeName Default="Header 768Px" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0bgb5ps3/header-768px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>