<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a8988ae-3f48-4e7b-8422-d7c74e876a3c" Alias="Heros" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/Heros</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-07T13:22:42</CreateDate>
    <NodeName Default="Heros" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>