<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a5f30b7-e3ab-4165-8b2c-dab128572407" Alias="Hover" Level="3">
  <Info>
    <Parent Key="2c028abd-327e-4738-be42-a70b541b35e1">Service Icons</Parent>
    <Path>/Icons/ServiceIcons/Hover</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-01T11:34:31</CreateDate>
    <NodeName Default="Hover" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>