<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5209814-56a0-42f8-b675-78f71620617d" Alias="Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-01T11:33:55</CreateDate>
    <NodeName Default="Icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>