<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7b7ab37-94f3-43af-b715-107bbc7da4d6" Alias="Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Icon</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:03:00</CreateDate>
    <NodeName Default="Icon" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ggvlp35t/icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>