<?xml version="1.0" encoding="utf-8"?>
<Media Key="0489dd16-365d-4b30-9dde-cebe4d61d939" Alias="Image 1@2X" Level="2">
  <Info>
    <Parent Key="3162d630-9e1f-43ad-8124-5ae5b98c6cf0">Accreditations</Parent>
    <Path>/Accreditations/Image12X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-12T11:51:57</CreateDate>
    <NodeName Default="Image 1@2X" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cdojsbc3/image-1-2x.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>