<?xml version="1.0" encoding="utf-8"?>
<Media Key="767e6e8f-4c5b-4027-abd6-db5acde02544" Alias="Industry Icon" Level="4">
  <Info>
    <Parent Key="74b1ce6b-8971-4150-a73f-acee1c5d858d">Default</Parent>
    <Path>/Icons/ServiceIcons/Default/IndustryIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:04:20</CreateDate>
    <NodeName Default="Industry Icon" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xzxh23s1/industry-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>