<?xml version="1.0" encoding="utf-8"?>
<Media Key="43df081d-1aa1-40af-8d27-09599e5df94b" Alias="Industry Icon Hover" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/IndustryIconHover</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:03:02</CreateDate>
    <NodeName Default="Industry Icon Hover" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fqen4q3b/industry-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>