<?xml version="1.0" encoding="utf-8"?>
<Media Key="4afda96e-e389-4254-aaa1-5b25ce6149a3" Alias="Industry Icon Hover" Level="4">
  <Info>
    <Parent Key="1a5f30b7-e3ab-4165-8b2c-dab128572407">Hover</Parent>
    <Path>/Icons/SectorIcons/Hover/IndustryIconHover</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:05:00</CreateDate>
    <NodeName Default="Industry Icon Hover" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l4up0suj/industry-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>