<?xml version="1.0" encoding="utf-8"?>
<Media Key="d39cf77e-b3f8-4301-a72f-a51411eef510" Alias="Industry Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/IndustryIcon</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:03:01</CreateDate>
    <NodeName Default="Industry Icon" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j51jzu5y/industry-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>