<?xml version="1.0" encoding="utf-8"?>
<Media Key="6002c706-fcce-4b1b-8ada-df5fb2e0bfe4" Alias="Injection Moulding Header 1410Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/InjectionMouldingHeader1410Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:03:05</CreateDate>
    <NodeName Default="Injection Moulding Header 1410Px" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/addbeygo/injection-moulding-header-1410px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>