<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac53b2f8-ee97-4f3c-92d0-6eff99669a81" Alias="Injection Moulding Header 768Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/InjectionMouldingHeader768Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:03:03</CreateDate>
    <NodeName Default="Injection Moulding Header 768Px" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/50zfhlex/injection-moulding-header-768px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>