<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4019d44-ddae-4bf5-9300-d59a0721eac6" Alias="Instagram" Level="3">
  <Info>
    <Parent Key="939471ac-a8b7-45f8-b651-0affca00737c">Social Icons</Parent>
    <Path>/Icons/SocialIcons/Instagram</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T16:43:12</CreateDate>
    <NodeName Default="Instagram" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/owobdjfo/instagram.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>