<?xml version="1.0" encoding="utf-8"?>
<Media Key="31c128f3-d99d-4d1c-a0d1-1344861c0e6f" Alias="Link 45Deg" Level="3">
  <Info>
    <Parent Key="939471ac-a8b7-45f8-b651-0affca00737c">Social Icons</Parent>
    <Path>/Icons/SocialIcons/Link45Deg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T16:43:11</CreateDate>
    <NodeName Default="Link 45Deg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yiumcmm3/link-45deg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>