<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ef36c9c-cbfb-4266-9086-7ff18a7704c2" Alias="Linkedin" Level="3">
  <Info>
    <Parent Key="939471ac-a8b7-45f8-b651-0affca00737c">Social Icons</Parent>
    <Path>/Icons/SocialIcons/Linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T16:43:12</CreateDate>
    <NodeName Default="Linkedin" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vvwpghx1/linkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>