<?xml version="1.0" encoding="utf-8"?>
<Media Key="0330120c-eaa7-42cb-8c81-2b52b7e27a76" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-07T11:14:34</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>