<?xml version="1.0" encoding="utf-8"?>
<Media Key="57b462ad-cefa-46ae-9603-e6586cc7d9f9" Alias="Medical Icon Hover" Level="4">
  <Info>
    <Parent Key="1a5f30b7-e3ab-4165-8b2c-dab128572407">Hover</Parent>
    <Path>/Icons/SectorIcons/Hover/MedicalIconHover</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:04:59</CreateDate>
    <NodeName Default="Medical Icon Hover" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/trrliv50/medical-icon-hover.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>