<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4f50021-5b1b-4912-bdd1-8b59b4fce744" Alias="Medical Icon" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/MedicalIcon</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:03:05</CreateDate>
    <NodeName Default="Medical Icon" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/caapl3a1/medical-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>