<?xml version="1.0" encoding="utf-8"?>
<Media Key="32df4356-a7cb-4ec0-8753-68a82b4bbe0c" Alias="Medical Icon" Level="4">
  <Info>
    <Parent Key="74b1ce6b-8971-4150-a73f-acee1c5d858d">Default</Parent>
    <Path>/Icons/ServiceIcons/Default/MedicalIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-07T13:04:21</CreateDate>
    <NodeName Default="Medical Icon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m3bn4mwl/medical-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>