<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d52deae-3e59-4fad-91ab-743e6b4ebafa" Alias="MOULD SHOP 2 (1)" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/MOULDSHOP21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:29:24</CreateDate>
    <NodeName Default="MOULD SHOP 2 (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vdpfepkz/mould-shop-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>