<?xml version="1.0" encoding="utf-8"?>
<Media Key="009ab31c-c8f4-418f-95ea-00a8c20dc73f" Alias="MOULD SHOP" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/MOULDSHOP</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:15:04</CreateDate>
    <NodeName Default="MOULD SHOP" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dkzjuahu/mould-shop.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>