<?xml version="1.0" encoding="utf-8"?>
<Media Key="405c9aaa-a56f-4b6c-b090-92e28cb155fb" Alias="OVERSEAS TOOLMAKING" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/OVERSEASTOOLMAKING</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:15:39</CreateDate>
    <NodeName Default="OVERSEAS TOOLMAKING" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vsnfyqdp/overseas-toolmaking.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>