<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f19d788-0d45-43e7-85c1-89e4ddbdc72e" Alias="Remi Turcotte Ussv8umsrda Unsplash" Level="2">
  <Info>
    <Parent Key="382d236c-85aa-45dd-bd85-2ba95010679c">Images</Parent>
    <Path>/Images/RemiTurcotteUssv8umsrdaUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T10:53:56</CreateDate>
    <NodeName Default="Remi Turcotte Ussv8umsrda Unsplash" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r1lbsh0f/remi-turcotte-ussv8umsrda-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>