<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c028abd-327e-4738-be42-a70b541b35e1" Alias="Sector Icons" Level="2">
  <Info>
    <Parent Key="e5209814-56a0-42f8-b675-78f71620617d">Icons</Parent>
    <Path>/Icons/SectorIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-01T11:34:01</CreateDate>
    <NodeName Default="Sector Icons" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>