<?xml version="1.0" encoding="utf-8"?>
<Media Key="939471ac-a8b7-45f8-b651-0affca00737c" Alias="Social Icons" Level="2">
  <Info>
    <Parent Key="e5209814-56a0-42f8-b675-78f71620617d">Icons</Parent>
    <Path>/Icons/SocialIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-06-01T11:34:08</CreateDate>
    <NodeName Default="Social Icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>