<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffdcfb3d-a809-4a5b-ab38-87fe74ce28a3" Alias="Toolmaking Header 320Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ToolmakingHeader320Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:03:06</CreateDate>
    <NodeName Default="Toolmaking Header 320Px" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hp3nz5yj/toolmaking-header-320px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>