<?xml version="1.0" encoding="utf-8"?>
<Media Key="92d9e5ae-d236-4417-8e5a-49d9d4abb66c" Alias="Toolmaking Header 1410Px" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ToolmakingHeader1410Px</Path>
    <Trashed Parent="382d236c-85aa-45dd-bd85-2ba95010679c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-07T13:03:08</CreateDate>
    <NodeName Default="Toolmaking Header 1410Px" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vdsnterw/toolmaking-header-1410px.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>