<?xml version="1.0" encoding="utf-8"?>
<Media Key="98d345ef-cddf-46cb-bacd-e3ae87cf0a08" Alias="Twitter" Level="3">
  <Info>
    <Parent Key="939471ac-a8b7-45f8-b651-0affca00737c">Social Icons</Parent>
    <Path>/Icons/SocialIcons/Twitter</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T16:43:13</CreateDate>
    <NodeName Default="Twitter" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1zcnhgg5/twitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>