<?xml version="1.0" encoding="utf-8"?>
<Media Key="68a70cc4-2c9e-409d-b46e-040a3ccc631d" Alias="Whatsapp" Level="3">
  <Info>
    <Parent Key="939471ac-a8b7-45f8-b651-0affca00737c">Social Icons</Parent>
    <Path>/Icons/SocialIcons/Whatsapp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T16:43:14</CreateDate>
    <NodeName Default="Whatsapp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ugko0e4/whatsapp.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>