<?xml version="1.0" encoding="utf-8"?>
<Media Key="d07e6f38-fe46-40cd-9b4c-995410633cc0" Alias="Youtube" Level="3">
  <Info>
    <Parent Key="939471ac-a8b7-45f8-b651-0affca00737c">Social Icons</Parent>
    <Path>/Icons/SocialIcons/Youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-06-08T16:43:13</CreateDate>
    <NodeName Default="Youtube" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bfxh3ucg/youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>