@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet makes a breadcrumb of parents using an unordered HTML list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{ var selection = Model.Ancestors().ToArray(); }

@if (selection?.Length > 0)
{
    <ul class="Breadcrumb">
        @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
        <li style="text-align: center;">
        @foreach (var item in selection.OrderBy(x => x.Level).Skip(1))
        {
            <a href="@item.Url(PublishedUrlProvider)" class="NoLinkStyles">@item.Name</a> <span class="divider">> </span>
        }

        @* Display the current page as the last item in the list *@
        <span class="active"> @Model.Name</span></li>
    </ul>
}