@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="Block Form">
    <div class="Breakpoint-Wrap">
    <h2>Receive a FREE Quotation</h2>
    @await Umbraco.RenderMacroAsync("ContactForm")
    </div>
</div>