<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3af23cdd-8ca5-4522-95d7-7b984b8a0918" Alias="Case Study - RelatedSector - Content Picker" Level="1">
  <Info>
    <Name>Case Study - RelatedSector - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/0d3131bdd00340a4b709586bd5c36e24"
}]]></Config>
</DataType>