<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ffdbac39-ec96-4277-b71f-8047eb60aeda" Alias="Case Study - Relevant Case Studies - Multinode Treepicker" Level="1">
  <Info>
    <Name>Case Study - Relevant Case Studies - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 3,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>