<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d3da9026-e84c-4c8c-b766-2d91b211d6fe" Alias="CTA Toggle" Level="1">
  <Info>
    <Name>CTA Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Call to Action is Hidden",
  "LabelOn": "Call to Action is Visible",
  "ShowLabels": false
}]]></Config>
</DataType>