<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7ef131a-6280-4289-b21c-db18c9e0e763" Alias="Footer Visibility" Level="1">
  <Info>
    <Name>Footer Visibility</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "This page is not shown on Footer",
  "LabelOn": "This page is shown on Footer",
  "ShowLabels": true
}]]></Config>
</DataType>