<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9b35f3a-7714-48dd-b857-3846e4047cb2" Alias="Footer Visibility (1)" Level="1">
  <Info>
    <Name>Footer Visibility (1)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "This page is not shown on Footer",
  "LabelOn": "This page is shown on Footer",
  "ShowLabels": true
}]]></Config>
</DataType>