<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ab59ce8-becd-41f4-a52d-05bd22ee5ead" Alias="Home - Related Services - Multinode Treepicker" Level="1">
  <Info>
    <Name>Home - Related Services - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "service",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/81aba29359e448d799943042e49cfe9c",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>