<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5724f0d3-55bb-4384-a867-abbb1c483987" Alias="Master - Developer Mode - Toggle" Level="1">
  <Info>
    <Name>Master - Developer Mode - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "Dev Mode is OFF",
  "LabelOn": "Dev Mode is ON",
  "ShowLabels": false
}]]></Config>
</DataType>