<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38ee4cf7-946e-4c40-a3c0-544b14cef442" Alias="Navbar - Default ON" Level="1">
  <Info>
    <Name>Navbar - Default ON</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "This page is not shown on Nav",
  "LabelOn": "This page is shown on Nav",
  "ShowLabels": true
}]]></Config>
</DataType>