<?xml version="1.0" encoding="utf-8"?>
<DataType Key="588878a4-7474-433f-8e94-17c0aaa08174" Alias="Nav Vis" Level="1">
  <Info>
    <Name>Nav Vis</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "Top Navbar is not visible on this page",
  "LabelOn": "Top Navbar is visible on this page",
  "ShowLabels": false
}]]></Config>
</DataType>