<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b491d991-6177-4a45-a226-18fa257cadb0" Alias="Webpages - Dropdown Style - Radio button list" Level="1">
  <Info>
    <Name>Webpages - Dropdown Style - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Default"
    },
    {
      "id": 2,
      "value": "Side-By-Side"
    },
    {
      "id": 3,
      "value": "Icons"
    }
  ]
}]]></Config>
</DataType>