<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf5af1b5-71a4-49c5-974a-56843246dec8" Alias="Aerospace &amp; Defence" Level="3">
  <Info>
    <Parent Key="0d3131bd-d003-40a4-b709-586bd5c36e24">Sectors</Parent>
    <Path>/SeniorDickson/Sectors/AerospaceDefence</Path>
    <Trashed>false</Trashed>
    <ContentType>sector</ContentType>
    <CreateDate>2023-06-01T11:30:20</CreateDate>
    <NodeName Default="Aerospace &amp; Defence" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e9f269b-b391-44ab-859d-df2278ba7d33">Sector</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "1d094cef-c75e-4b60-878b-92908fbf9f55",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <hoverIcon>
      <Value><![CDATA[[
  {
    "key": "133200b8-578f-4c69-af92-68bf1e7b13d4",
    "mediaKey": "c22046e6-5e41-40a6-9c5e-80b4e9cdef33"
  }
]]]></Value>
    </hoverIcon>
    <icon>
      <Value><![CDATA[[
  {
    "key": "06282f74-6a7a-4161-b2ec-123d0afe8bb7",
    "mediaKey": "7c501b53-bf70-48cb-8775-26f8797f2a92"
  }
]]]></Value>
    </icon>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Aerospace & Defence]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>