<?xml version="1.0" encoding="utf-8"?>
<Content Key="3029fd1b-9572-470c-90a2-f2a7744453a8" Alias="Case Studies" Level="2">
  <Info>
    <Parent Key="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">Senior &amp; Dickson</Parent>
    <Path>/SeniorDickson/CaseStudies</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudies</ContentType>
    <CreateDate>2023-06-01T11:30:58</CreateDate>
    <NodeName Default="Case Studies" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7142d1b9-a997-4028-8972-57cd81cfb5e6">CaseStudies</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "0391da1f-edba-4c39-921c-0149ceeb9b81",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[<p>Senior &amp; Dickson have a range of knowledge ready to be put to the test. We have had a hand in a variety of injection moulding and design projects for a range of clients. Take a look at the case studies below to learn about how our persistent and reliable processes allow us to give our clients the best results.</p>]]></Value>
    </heroText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Case Studies]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>