<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fc1563a-ef74-45db-9bc3-7c747a8c7695" Alias="Clients And Suppliers" Level="2">
  <Info>
    <Parent Key="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">Senior &amp; Dickson</Parent>
    <Path>/SeniorDickson/ClientsAndSuppliers</Path>
    <Trashed>false</Trashed>
    <ContentType>clientsAndSuppliers</ContentType>
    <CreateDate>2023-06-08T16:22:14</CreateDate>
    <NodeName Default="Clients And Suppliers" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>