<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b6ffdf5-b5a3-4c42-9d99-7d2af3b6ecaf" Alias="Clients And Suppliers (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ClientsAndSuppliers1</Path>
    <Trashed Parent="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">true</Trashed>
    <ContentType>clientsAndSuppliers</ContentType>
    <CreateDate>2023-06-08T16:22:15</CreateDate>
    <NodeName Default="Clients And Suppliers (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>