<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7ab2e8b-006c-4947-bf32-88ece958f563" Alias="Consumer Products" Level="3">
  <Info>
    <Parent Key="0d3131bd-d003-40a4-b709-586bd5c36e24">Sectors</Parent>
    <Path>/SeniorDickson/Sectors/ConsumerProducts</Path>
    <Trashed>false</Trashed>
    <ContentType>sector</ContentType>
    <CreateDate>2023-06-01T11:30:11</CreateDate>
    <NodeName Default="Consumer Products" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e9f269b-b391-44ab-859d-df2278ba7d33">Sector</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "4df13816-92e0-4743-af5a-3e604170c442",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <hoverIcon>
      <Value><![CDATA[[
  {
    "key": "f35276b9-c798-4141-8e81-629200ae3cb0",
    "mediaKey": "824d7763-db13-41b3-9305-9afe63a71ffd"
  }
]]]></Value>
    </hoverIcon>
    <icon>
      <Value><![CDATA[[
  {
    "key": "6ff450d9-86ef-4a3e-8645-baa82433c0a2",
    "mediaKey": "d849e7c8-4ff8-469a-967f-a4f8e0cf42c0"
  }
]]]></Value>
    </icon>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Consumer Products]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>