<?xml version="1.0" encoding="utf-8"?>
<Content Key="5af517a6-90ec-4a2f-b474-12ca1653960f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">Senior &amp; Dickson</Parent>
    <Path>/SeniorDickson/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-06-01T11:32:19</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7a3e02d6-6ba5-40ed-8d5e-fe6c7e3679f4">Contact</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4cbc97509e604489ae8de30848d6b8f9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d8cdbd3b-9028-4c84-a6e3-1bbc08ed307a",
      "udi": "umb://element/4cbc97509e604489ae8de30848d6b8f9",
      "text": "",
      "callToActionVisible": "0",
      "target": null,
      "header": "Clients And Suppliers"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "a6aa5df4-410f-4303-988e-9343c51ddf1c",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[<p>Our friendly and helpful staff are always on hand to help with enquiries for any size project. Get in touch today by filling in our form, or alternatively, give us a call.</p>]]></Value>
    </heroText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Contact Us]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[0]]></Value>
    </visibility>
  </Properties>
</Content>