<?xml version="1.0" encoding="utf-8"?>
<Content Key="2235ff06-80ce-4958-b388-cb4902ffd326" Alias="Design" Level="3">
  <Info>
    <Parent Key="81aba293-59e4-48d7-9994-3042e49cfe9c">Services</Parent>
    <Path>/SeniorDickson/Services/Design</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2023-06-01T11:25:56</CreateDate>
    <NodeName Default="Design" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a15d7cb-c56f-49fb-8d92-4fad49f14816">Service</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "73f0e4e4-6647-40d1-b433-427089bf765b",
    "mediaKey": "d14343b3-3766-4c70-9970-b84061fa980d"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[<p>Our talented team of design engineers can create anything from a 2D sketch or computer aided design to help visualise each plastic injection moulding project.</p>]]></Value>
    </heroText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>