<?xml version="1.0" encoding="utf-8"?>
<Content Key="95264db0-7d73-459d-9b42-cb53807c2524" Alias="Doncaster Chamber Member" Level="3">
  <Info>
    <Parent Key="3c4034dc-b0c8-4678-a041-3404af35b083">Accreditations</Parent>
    <Path>/SeniorDickson/Accreditations/DoncasterChamberMember</Path>
    <Trashed>false</Trashed>
    <ContentType>accreditation</ContentType>
    <CreateDate>2023-06-12T11:52:37</CreateDate>
    <NodeName Default="Doncaster Chamber Member" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "c2f3a26a-c9bd-4ef6-afde-070e027679c6",
    "mediaKey": "0fba5d82-134f-4992-8e7a-0f290a815d8a"
  }
]]]></Value>
    </image>
  </Properties>
</Content>