<?xml version="1.0" encoding="utf-8"?>
<Content Key="d058e8e8-f8b4-44d5-b117-bacb19950dc2" Alias="Dust Extraction Inlet" Level="3">
  <Info>
    <Parent Key="3029fd1b-9572-470c-90a2-f2a7744453a8">Case Studies</Parent>
    <Path>/SeniorDickson/CaseStudies/DustExtractionInlet</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2023-06-08T16:18:15</CreateDate>
    <NodeName Default="Dust Extraction Inlet" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a7feaf7-750c-4e34-b04d-87d562cd96f6">CaseStudy</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[0]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "7752acc6-e5e3-43e9-9480-419ec394862a",
    "mediaKey": "7489088c-e5d5-43a8-9ea3-2b5e72a1ba8a"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <publishDate>
      <Value><![CDATA[2023-06-16T00:00:00]]></Value>
    </publishDate>
    <relatedSector>
      <Value><![CDATA[umb://document/798b4fa9a97f4714a0b2a446951fc8fc]]></Value>
    </relatedSector>
    <relatedService>
      <Value><![CDATA[]]></Value>
    </relatedService>
    <relevantCaseStudies>
      <Value><![CDATA[umb://document/032af4432d454d06a2fb044e541738cf]]></Value>
    </relevantCaseStudies>
    <Title>
      <Value><![CDATA[Data Centre Services]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[0]]></Value>
    </visibility>
  </Properties>
</Content>