<?xml version="1.0" encoding="utf-8"?>
<Content Key="5152022f-adde-4ffa-80ba-a5736b389e5e" Alias="Electronics" Level="3">
  <Info>
    <Parent Key="0d3131bd-d003-40a4-b709-586bd5c36e24">Sectors</Parent>
    <Path>/SeniorDickson/Sectors/Electronics</Path>
    <Trashed>false</Trashed>
    <ContentType>sector</ContentType>
    <CreateDate>2023-06-01T11:30:00</CreateDate>
    <NodeName Default="Electronics" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e9f269b-b391-44ab-859d-df2278ba7d33">Sector</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "0c9d7e2a-5265-4ebb-98f2-4d7d5f8d18ba",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <hoverIcon>
      <Value><![CDATA[[
  {
    "key": "fcacba90-0913-4f10-99e8-abe00424ece6",
    "mediaKey": "370c69f0-43ca-429a-95f9-34532fef0a91"
  }
]]]></Value>
    </hoverIcon>
    <icon>
      <Value><![CDATA[[
  {
    "key": "44fc62c7-7681-46e7-ab52-020d356f2900",
    "mediaKey": "1efda95c-1edf-4438-886d-4fd1840ba692"
  }
]]]></Value>
    </icon>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Electronics]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>