<?xml version="1.0" encoding="utf-8"?>
<Content Key="026c647b-22ce-4132-9d64-08fdd73d0556" Alias="Home" Level="2">
  <Info>
    <Parent Key="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">Senior &amp; Dickson</Parent>
    <Path>/SeniorDickson/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-01T11:22:39</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8688af1a-5532-42c9-b83c-47d82695303a">Home</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1ba115c253384fc7a3295ca964877c41"
      },
      {
        "contentUdi": "umb://element/b2b68e6d57cf40dfbf7660ca1a583a9c"
      },
      {
        "contentUdi": "umb://element/9c78268a9b054e2a927f1563172355ff"
      },
      {
        "contentUdi": "umb://element/3289a377496c4815a056f4ee463f8e58"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0dd426de-7ecb-413b-b48c-2fbd608032b6",
      "udi": "umb://element/1ba115c253384fc7a3295ca964877c41",
      "image": "[\r\n  {\r\n    \"key\": \"e2103fcd-603f-483d-befa-27cdae1dd171\",\r\n    \"mediaKey\": \"f8937aea-e376-496a-af84-20ce3419a3ff\"\r\n  }\r\n]",
      "header": "About Senior & Dickson",
      "text": "<p>Senior &amp; Dickson are experts in producing high quality plastic injection moulding, creating new and innovative concept designs, and producing prototype models for functionality testing and ergonomics.</p>",
      "callToActionVisible": "1",
      "target": "umb://document/c35074df080b47e0a222fa80f1433bbe",
      "label": "Find Out More"
    },
    {
      "contentTypeKey": "9c983c87-b779-400a-8f87-ee6ab15d283a",
      "udi": "umb://element/b2b68e6d57cf40dfbf7660ca1a583a9c",
      "text": "",
      "callToActionVisible": "0",
      "target": null,
      "header": "Sectors"
    },
    {
      "contentTypeKey": "a268fb7e-79a2-49b4-9bd1-8d9f13a72720",
      "udi": "umb://element/9c78268a9b054e2a927f1563172355ff",
      "header": "Case Studies",
      "text": "",
      "callToActionVisible": "0",
      "target": null
    },
    {
      "contentTypeKey": "d8cdbd3b-9028-4c84-a6e3-1bbc08ed307a",
      "udi": "umb://element/3289a377496c4815a056f4ee463f8e58",
      "header": "Clients And Suppliers",
      "text": "",
      "callToActionVisible": "0",
      "target": null
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[0]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "f5678abd-1dac-4f2a-8f40-bff605f7a949",
    "mediaKey": "f8937aea-e376-496a-af84-20ce3419a3ff"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <relatedServices>
      <Value><![CDATA[umb://document/2235ff0680ce4958b388cb4902ffd326,umb://document/1639be0f51b344cb9378a8df527414dc,umb://document/706197de1d0f49e5b261d2734d48df39]]></Value>
    </relatedServices>
    <Title>
      <Value><![CDATA[Senior & Dickson, experts in plastic injection moulding.]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[0]]></Value>
    </visibility>
  </Properties>
</Content>