<?xml version="1.0" encoding="utf-8"?>
<Content Key="890f1b1b-c069-4557-9651-191b95764f12" Alias="Industrial &amp; Technical" Level="3">
  <Info>
    <Parent Key="0d3131bd-d003-40a4-b709-586bd5c36e24">Sectors</Parent>
    <Path>/SeniorDickson/Sectors/IndustrialTechnical</Path>
    <Trashed>false</Trashed>
    <ContentType>sector</ContentType>
    <CreateDate>2023-06-01T11:30:27</CreateDate>
    <NodeName Default="Industrial &amp; Technical" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e9f269b-b391-44ab-859d-df2278ba7d33">Sector</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[Icons]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "39696497-457a-4c26-b516-31da26891d56",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <hoverIcon>
      <Value><![CDATA[[
  {
    "key": "e9e75a78-34da-4b68-8400-1cfe9bff2bb7",
    "mediaKey": "4afda96e-e389-4254-aaa1-5b25ce6149a3"
  }
]]]></Value>
    </hoverIcon>
    <icon>
      <Value><![CDATA[[
  {
    "key": "cc5eb160-8fee-45cc-8f0e-911ac63018d0",
    "mediaKey": "767e6e8f-4c5b-4027-abd6-db5acde02544"
  }
]]]></Value>
    </icon>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Industrial & Technical]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>