<?xml version="1.0" encoding="utf-8"?>
<Content Key="706197de-1d0f-49e5-b261-d2734d48df39" Alias="Injection Moulding" Level="3">
  <Info>
    <Parent Key="81aba293-59e4-48d7-9994-3042e49cfe9c">Services</Parent>
    <Path>/SeniorDickson/Services/InjectionMoulding</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2023-06-01T11:28:17</CreateDate>
    <NodeName Default="Injection Moulding" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a15d7cb-c56f-49fb-8d92-4fad49f14816">Service</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "69f6c6dd-1fbb-4805-8e0e-d90fcdf6de37",
    "mediaKey": "a81bd32b-27e6-4bd3-bc87-1582c86f85e7"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[<p>Senior &amp; Dickson offer unparalleled injection moulding services. Our workshop contains state of the art machinery to help us bring your project to life.</p>]]></Value>
    </heroText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Injection Moulding]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>