<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7104916-1daf-437a-a4c4-9cf33c81957a" Alias="ISO: 9001" Level="3">
  <Info>
    <Parent Key="3c4034dc-b0c8-4678-a041-3404af35b083">Accreditations</Parent>
    <Path>/SeniorDickson/Accreditations/ISO9001</Path>
    <Trashed>false</Trashed>
    <ContentType>accreditation</ContentType>
    <CreateDate>2023-06-12T11:53:00</CreateDate>
    <NodeName Default="ISO: 9001" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "14105b59-3d5a-4636-b4a2-65958a0d24db",
    "mediaKey": "0489dd16-365d-4b30-9dde-cebe4d61d939"
  }
]]]></Value>
    </image>
  </Properties>
</Content>