<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bb6ba52-f2ee-473a-91ab-9156818ed5ea" Alias="Kevin | Form Submission" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/KevinFormSubmission</Path>
    <Trashed Parent="5af517a6-90ec-4a2f-b474-12ca1653960f">true</Trashed>
    <ContentType>formSubmission</ContentType>
    <CreateDate>2023-06-09T14:58:19</CreateDate>
    <NodeName Default="Kevin | Form Submission" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Moirae]]></Value>
    </company>
    <email>
      <Value><![CDATA[tg@moirae.co.uk]]></Value>
    </email>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <message>
      <Value><![CDATA[ebhfhebfhe]]></Value>
    </message>
    <phoneNumber>
      <Value><![CDATA[07123123123]]></Value>
    </phoneNumber>
    <sender>
      <Value><![CDATA[Kevin]]></Value>
    </sender>
  </Properties>
</Content>