<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d41dec8-5166-466e-b9eb-4473d4b52934" Alias="Linkedin" Level="3">
  <Info>
    <Parent Key="9943e2f7-2de1-47cf-92a7-de6516210443">Socials</Parent>
    <Path>/SeniorDickson/Socials/Linkedin</Path>
    <Trashed>false</Trashed>
    <ContentType>social</ContentType>
    <CreateDate>2023-06-01T11:02:19</CreateDate>
    <NodeName Default="Linkedin" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[[
  {
    "key": "33e11cec-29a9-4e85-bc1a-3aaa8226a3cd",
    "mediaKey": "1ef36c9c-cbfb-4266-9086-7ff18a7704c2"
  }
]]]></Value>
    </icon>
    <link>
      <Value><![CDATA[https://www.linkedin.com/company/senior-&-dickson-ltd/]]></Value>
    </link>
    <linkText>
      <Value><![CDATA[@Senior&Dickson]]></Value>
    </linkText>
  </Properties>
</Content>