<?xml version="1.0" encoding="utf-8"?>
<Content Key="f08baf5d-a20b-4065-9812-a3637e76c1ed" Alias="Maintenance" Level="2">
  <Info>
    <Parent Key="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">Senior &amp; Dickson</Parent>
    <Path>/SeniorDickson/Maintenance</Path>
    <Trashed>false</Trashed>
    <ContentType>moiraeMaintenance</ContentType>
    <CreateDate>2023-06-13T17:02:31</CreateDate>
    <NodeName Default="Maintenance" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7995b99a-0b85-43b5-bbab-6e453f489b9a">MoiraeMaintenance</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "297c684e-f125-4717-9ddf-0d98a3f1b278",
    "mediaKey": "009ab31c-c8f4-418f-95ea-00a8c20dc73f"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <navText>
      <Value><![CDATA[]]></Value>
    </navText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[]]></Value>
    </Title>
  </Properties>
</Content>