<?xml version="1.0" encoding="utf-8"?>
<Content Key="798b4fa9-a97f-4714-a0b2-a446951fc8fc" Alias="Medical" Level="3">
  <Info>
    <Parent Key="0d3131bd-d003-40a4-b709-586bd5c36e24">Sectors</Parent>
    <Path>/SeniorDickson/Sectors/Medical</Path>
    <Trashed>false</Trashed>
    <ContentType>sector</ContentType>
    <CreateDate>2023-06-01T11:29:49</CreateDate>
    <NodeName Default="Medical" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e9f269b-b391-44ab-859d-df2278ba7d33">Sector</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "8ad3d55e-ca91-4d9d-80bc-80b67b4e03e9",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <hoverIcon>
      <Value><![CDATA[[
  {
    "key": "6a2620be-7b37-42b2-9117-d659e3b1304c",
    "mediaKey": "57b462ad-cefa-46ae-9603-e6586cc7d9f9"
  }
]]]></Value>
    </hoverIcon>
    <icon>
      <Value><![CDATA[[
  {
    "key": "b473ce98-583c-4984-9761-4cd146c1ac30",
    "mediaKey": "32df4356-a7cb-4ec0-8753-68a82b4bbe0c"
  }
]]]></Value>
    </icon>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Medical]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>