<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b652cad-6366-4d44-bf4a-35cfd47a8ce5" Alias="Notifications List (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/NotificationsList1</Path>
    <Trashed Parent="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">true</Trashed>
    <ContentType>notificationList</ContentType>
    <CreateDate>2023-06-01T17:11:20</CreateDate>
    <NodeName Default="Notifications List (1)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>