<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4040417-efe4-432d-92c3-5899c23c96b9" Alias="Overseas Tooling" Level="3">
  <Info>
    <Parent Key="81aba293-59e4-48d7-9994-3042e49cfe9c">Services</Parent>
    <Path>/SeniorDickson/Services/OverseasTooling</Path>
    <Trashed>false</Trashed>
    <ContentType>service</ContentType>
    <CreateDate>2023-06-01T11:28:35</CreateDate>
    <NodeName Default="Overseas Tooling" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a15d7cb-c56f-49fb-8d92-4fad49f14816">Service</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "fb3d2222-e964-4038-9b3b-9ab2c2784017",
    "mediaKey": "bc608f8c-ba2a-4f6c-8699-8f39de49b474"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[<p>Our trusted overseas suppliers have an open line of communication to our project management team to make sure that each project is completed in a timely manner, and to your specifications.</p>]]></Value>
    </heroText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Overseas Tooling]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>