<?xml version="1.0" encoding="utf-8"?>
<Content Key="ce8f70fb-4c47-4a8b-9c35-ced8693368ff" Alias="Project Description Goes Here (3)" Level="3">
  <Info>
    <Parent Key="3029fd1b-9572-470c-90a2-f2a7744453a8">Case Studies</Parent>
    <Path>/SeniorDickson/CaseStudies/ProjectDescriptionGoesHere3</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2023-06-12T09:43:08</CreateDate>
    <NodeName Default="Project Description Goes Here (3)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a7feaf7-750c-4e34-b04d-87d562cd96f6">CaseStudy</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[0]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "3afefd9c-d459-4783-9652-717d043c8a7b",
    "mediaKey": "7489088c-e5d5-43a8-9ea3-2b5e72a1ba8a"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <publishDate>
      <Value><![CDATA[2023-06-09T00:00:00]]></Value>
    </publishDate>
    <relatedSector>
      <Value><![CDATA[umb://document/4be2fb15378b441aaa799fea8daab55f]]></Value>
    </relatedSector>
    <relatedService>
      <Value><![CDATA[umb://document/2235ff0680ce4958b388cb4902ffd326,umb://document/1639be0f51b344cb9378a8df527414dc,umb://document/706197de1d0f49e5b261d2734d48df39,umb://document/a4040417efe4432d92c35899c23c96b9]]></Value>
    </relatedService>
    <relevantCaseStudies>
      <Value><![CDATA[]]></Value>
    </relevantCaseStudies>
    <Title>
      <Value><![CDATA[Project Description Goes Here]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[0]]></Value>
    </visibility>
  </Properties>
</Content>