<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d3131bd-d003-40a4-b709-586bd5c36e24" Alias="Sectors" Level="2">
  <Info>
    <Parent Key="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">Senior &amp; Dickson</Parent>
    <Path>/SeniorDickson/Sectors</Path>
    <Trashed>false</Trashed>
    <ContentType>sectors</ContentType>
    <CreateDate>2023-06-01T11:29:21</CreateDate>
    <NodeName Default="Sectors" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6bf8ed96-b7b9-4b34-9a5a-b04f0d3f7206">Sectors</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[Icons]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "9adb7353-e72b-42c3-b66e-0076c024a640",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[<p>Senior &amp; Dickson offer a range of services that are well suited to a variety of industries. From automotive to medical sectors, we can create custom tooling solutions that are tailor made to fit your needs.</p>]]></Value>
    </heroText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Sectors]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>