<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a266e8f-c46b-4a3c-862b-12b7eb0a32e4" Alias="Senior Dickson" Level="3">
  <Info>
    <Parent Key="3fc1563a-ef74-45db-9bc3-7c747a8c7695">Clients And Suppliers</Parent>
    <Path>/SeniorDickson/ClientsAndSuppliers/SeniorDickson</Path>
    <Trashed>false</Trashed>
    <ContentType>clientSupplier</ContentType>
    <CreateDate>2023-06-08T16:25:36</CreateDate>
    <NodeName Default="Senior Dickson" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "2f128e77-4a08-4db6-be35-d6430ab94cc7",
    "mediaKey": "5a17846a-0ed0-42ce-8fc8-360ded005a92"
  }
]]]></Value>
    </image>
  </Properties>
</Content>