<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292" Alias="Senior &amp; Dickson" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SeniorDickson</Path>
    <Trashed>false</Trashed>
    <ContentType>master</ContentType>
    <CreateDate>2023-06-01T11:01:50</CreateDate>
    <NodeName Default="Senior &amp; Dickson" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="125d8e0c-bb92-4998-94df-1d90580bbf5b">Master</Template>
  </Info>
  <Properties>
    <accreditations>
      <Value><![CDATA[umb://document/3c4034dcb0c84678a0413404af35b083]]></Value>
    </accreditations>
    <caseStudies>
      <Value><![CDATA[umb://document/3029fd1b9572470c90a2f2a7744453a8]]></Value>
    </caseStudies>
    <clientsAndSuppliers>
      <Value><![CDATA[umb://document/3fc1563aef7445db9bc37c747a8c7695]]></Value>
    </clientsAndSuppliers>
    <companyLogo>
      <Value><![CDATA[[
  {
    "key": "2c596266-5422-47fa-8384-0d83b7263e19",
    "mediaKey": "b344fe85-d233-438e-8316-8c5183154931"
  }
]]]></Value>
    </companyLogo>
    <contactForm>
      <Value><![CDATA[umb://document/5af517a690ec4a2fb47412ca1653960f]]></Value>
    </contactForm>
    <copyrightOwner>
      <Value><![CDATA[Senior & Dickson Ltd]]></Value>
    </copyrightOwner>
    <county>
      <Value><![CDATA[Doncaster]]></Value>
    </county>
    <defaultCTALabel>
      <Value><![CDATA[]]></Value>
    </defaultCTALabel>
    <defaultImage>
      <Value><![CDATA[[]]]></Value>
    </defaultImage>
    <defaultTarget>
      <Value><![CDATA[umb://document/5af517a690ec4a2fb47412ca1653960f]]></Value>
    </defaultTarget>
    <devMode>
      <Value><![CDATA[1]]></Value>
    </devMode>
    <email>
      <Value><![CDATA[info@senior-dickson.co.uk]]></Value>
    </email>
    <emailLogo>
      <Value><![CDATA[[
  {
    "key": "2e39fdf4-fbdf-4107-b6df-87501bb962a1",
    "mediaKey": "5a17846a-0ed0-42ce-8fc8-360ded005a92"
  }
]]]></Value>
    </emailLogo>
    <favicon>
      <Value><![CDATA[[
  {
    "key": "b8e1a19d-debf-4f8c-bda6-179db72ae985",
    "mediaKey": "162b44a2-493e-433b-85cb-212058b83e99"
  }
]]]></Value>
    </favicon>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "ff70be62-3b13-4d9c-a9a1-8b96209d0709",
    "mediaKey": "b344fe85-d233-438e-8316-8c5183154931"
  }
]]]></Value>
    </footerLogo>
    <line1>
      <Value><![CDATA[Senior and Dickson LTD   ]]></Value>
    </line1>
    <line2>
      <Value><![CDATA[Sandall Stones Road]]></Value>
    </line2>
    <notificationList>
      <Value><![CDATA[umb://document/96e97880a490417b8cde551f5a19c299]]></Value>
    </notificationList>
    <notificationSender>
      <Value><![CDATA[noreply@moirae.co.uk]]></Value>
    </notificationSender>
    <phoneNumber>
      <Value><![CDATA[+44 (0) 1302 880333]]></Value>
    </phoneNumber>
    <postcode>
      <Value><![CDATA[DN3 1QR]]></Value>
    </postcode>
    <sectors>
      <Value><![CDATA[umb://document/0d3131bdd00340a4b709586bd5c36e24]]></Value>
    </sectors>
    <socials>
      <Value><![CDATA[umb://document/9943e2f72de147cf92a7de6516210443]]></Value>
    </socials>
    <testingEmail>
      <Value><![CDATA[]]></Value>
    </testingEmail>
    <thankyouPage>
      <Value><![CDATA[umb://document/64e00525411c44bca705f3e7fc8d1c3e]]></Value>
    </thankyouPage>
    <townCity>
      <Value><![CDATA[Kirk Sandall Industrial Estate]]></Value>
    </townCity>
    <umbracointernalredirectid>
      <Value><![CDATA[umb://document/026c647b22ce41329d6408fdd73d0556]]></Value>
    </umbracointernalredirectid>
    <whiteOutFavicon>
      <Value><![CDATA[[
  {
    "key": "83ab874a-ebb6-464e-9f44-1c6a1a74dbd9",
    "mediaKey": "d1115ba7-f865-4bc1-8650-d789f1001e9e"
  }
]]]></Value>
    </whiteOutFavicon>
  </Properties>
</Content>