<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4b7829a-85d8-415f-a8e4-da9336685a58" Alias="Senior Dickson 2: Electric Boogaloo" Level="3">
  <Info>
    <Parent Key="3fc1563a-ef74-45db-9bc3-7c747a8c7695">Clients And Suppliers</Parent>
    <Path>/SeniorDickson/ClientsAndSuppliers/SeniorDickson2ElectricBoogaloo</Path>
    <Trashed>false</Trashed>
    <ContentType>clientSupplier</ContentType>
    <CreateDate>2023-06-08T16:25:54</CreateDate>
    <NodeName Default="Senior Dickson 2: Electric Boogaloo" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "d6704fb9-e583-43b2-8918-2afb41c9969c",
    "mediaKey": "5a17846a-0ed0-42ce-8fc8-360ded005a92"
  }
]]]></Value>
    </image>
  </Properties>
</Content>