<?xml version="1.0" encoding="utf-8"?>
<Content Key="9684cf03-7b2c-48e3-a23a-dc67fb83ff94" Alias="Senior Dickson 3: Lightning Tree" Level="3">
  <Info>
    <Parent Key="3fc1563a-ef74-45db-9bc3-7c747a8c7695">Clients And Suppliers</Parent>
    <Path>/SeniorDickson/ClientsAndSuppliers/SeniorDickson3LightningTree</Path>
    <Trashed>false</Trashed>
    <ContentType>clientSupplier</ContentType>
    <CreateDate>2023-06-08T16:26:46</CreateDate>
    <NodeName Default="Senior Dickson 3: Lightning Tree" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <image>
      <Value><![CDATA[[
  {
    "key": "929e554c-7d95-4dca-a6a3-518d4caba074",
    "mediaKey": "5a17846a-0ed0-42ce-8fc8-360ded005a92"
  }
]]]></Value>
    </image>
  </Properties>
</Content>