<?xml version="1.0" encoding="utf-8"?>
<Content Key="81aba293-59e4-48d7-9994-3042e49cfe9c" Alias="Services" Level="2">
  <Info>
    <Parent Key="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">Senior &amp; Dickson</Parent>
    <Path>/SeniorDickson/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2023-06-01T11:24:14</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="222f3a9e-a9ed-4cf7-9300-04bb3b6758ba">Services</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[Side-By-Side]]></Value>
    </dropdownStyle>
    <footerVisibility>
      <Value><![CDATA[1]]></Value>
    </footerVisibility>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "1718b5be-eafd-42f9-be3f-80e60ac3c484",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[<p>Here at Senior &amp; Dickson we offer a range of services for a variety of different clients with quality as a constant aim to deliver the best products using refined processes. While we have specialised in Plastic Injection Moulding since 1981, our services have now grown to include concept design, tool making, and we even now offer overseas tooling.</p>]]></Value>
    </heroText>
    <navText>
      <Value><![CDATA[<p>Here at Senior &amp; Dickson we offer a range of services for a variety of different clients with quality as a constant aim to deliver the best products using refined processes.</p>]]></Value>
    </navText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Services]]></Value>
    </Title>
    <visibility>
      <Value><![CDATA[1]]></Value>
    </visibility>
  </Properties>
</Content>