<?xml version="1.0" encoding="utf-8"?>
<Content Key="64e00525-411c-44bc-a705-f3e7fc8d1c3e" Alias="Thank You" Level="2">
  <Info>
    <Parent Key="d8a95e7a-f403-46bc-9dd0-c3ec0b36c292">Senior &amp; Dickson</Parent>
    <Path>/SeniorDickson/ThankYou</Path>
    <Trashed>false</Trashed>
    <ContentType>thanksPage</ContentType>
    <CreateDate>2023-06-01T11:45:28</CreateDate>
    <NodeName Default="Thank You" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8de066a4-e68c-4795-a1f3-4545673b0efd">ThanksPage</Template>
  </Info>
  <Properties>
    <dropdownStyle>
      <Value><![CDATA[]]></Value>
    </dropdownStyle>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "c28e25ee-2bcc-43ab-862e-7e854a426036",
    "mediaKey": "3d52deae-3e59-4fad-91ab-743e6b4ebafa"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[<p>Thanks for getting in touch! A member of our team will get in contact with you shortly.</p>]]></Value>
    </heroText>
    <navText>
      <Value><![CDATA[]]></Value>
    </navText>
    <navTitle>
      <Value><![CDATA[]]></Value>
    </navTitle>
    <navVisibility>
      <Value><![CDATA[1]]></Value>
    </navVisibility>
    <Title>
      <Value><![CDATA[Thank You!]]></Value>
    </Title>
  </Properties>
</Content>