<?xml version="1.0" encoding="utf-8"?>
<Content Key="61c909ed-59ee-4d7c-bafb-6492fcc82004" Alias="Thomas Grant | Form Submission (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ThomasGrantFormSubmission2</Path>
    <Trashed Parent="5af517a6-90ec-4a2f-b474-12ca1653960f">true</Trashed>
    <ContentType>formSubmission</ContentType>
    <CreateDate>2023-06-09T15:10:40</CreateDate>
    <NodeName Default="Thomas Grant | Form Submission (2)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Moirae]]></Value>
    </company>
    <email>
      <Value><![CDATA[thomas.grant@moirae.co.uk]]></Value>
    </email>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <message>
      <Value><![CDATA[hhjh]]></Value>
    </message>
    <phoneNumber>
      <Value><![CDATA[07123123123]]></Value>
    </phoneNumber>
    <sender>
      <Value><![CDATA[Thomas Grant]]></Value>
    </sender>
  </Properties>
</Content>