<?xml version="1.0" encoding="utf-8"?>
<Content Key="11f686f2-5c00-4260-838c-3f90ddb7044a" Alias="Thomas Grant | Form Submission" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ThomasGrantFormSubmission</Path>
    <Trashed Parent="5af517a6-90ec-4a2f-b474-12ca1653960f">true</Trashed>
    <ContentType>formSubmission</ContentType>
    <CreateDate>2023-06-09T15:04:03</CreateDate>
    <NodeName Default="Thomas Grant | Form Submission" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Moirae]]></Value>
    </company>
    <email>
      <Value><![CDATA[thomas.grant@moirae.co.uk]]></Value>
    </email>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <message>
      <Value><![CDATA[gjjt]]></Value>
    </message>
    <phoneNumber>
      <Value><![CDATA[07123123123]]></Value>
    </phoneNumber>
    <sender>
      <Value><![CDATA[Thomas Grant]]></Value>
    </sender>
  </Properties>
</Content>