<?xml version="1.0" encoding="utf-8"?>
<Content Key="416aeb61-4a3a-414e-a6fa-cc1ded85ca5f" Alias="Thomas Grant | Form Submission (7)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ThomasGrantFormSubmission7</Path>
    <Trashed Parent="5af517a6-90ec-4a2f-b474-12ca1653960f">true</Trashed>
    <ContentType>formSubmission</ContentType>
    <CreateDate>2023-06-09T15:27:21</CreateDate>
    <NodeName Default="Thomas Grant | Form Submission (7)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Moirae]]></Value>
    </company>
    <email>
      <Value><![CDATA[thomas.grant@moirae.co.uk]]></Value>
    </email>
    <file>
      <Value><![CDATA[/uploads/LogoMakr-8u8xgm.pdf]]></Value>
    </file>
    <message>
      <Value><![CDATA[';;]]></Value>
    </message>
    <phoneNumber>
      <Value><![CDATA[07123123123]]></Value>
    </phoneNumber>
    <sender>
      <Value><![CDATA[Thomas Grant]]></Value>
    </sender>
  </Properties>
</Content>