<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ca8ab71-8b57-4723-9aef-eb4d80743036" Alias="Twitter" Level="3">
  <Info>
    <Parent Key="9943e2f7-2de1-47cf-92a7-de6516210443">Socials</Parent>
    <Path>/SeniorDickson/Socials/Twitter</Path>
    <Trashed>false</Trashed>
    <ContentType>social</ContentType>
    <CreateDate>2023-06-08T16:49:35</CreateDate>
    <NodeName Default="Twitter" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <icon>
      <Value><![CDATA[[
  {
    "key": "0daf64b2-1579-4541-83cf-221dcac4e1cc",
    "mediaKey": "98d345ef-cddf-46cb-bacd-e3ae87cf0a08"
  }
]]]></Value>
    </icon>
    <link>
      <Value><![CDATA[https://www.facebook.com/p/Senior-and-Dickson-Ltd-100067001555123/]]></Value>
    </link>
    <linkText>
      <Value><![CDATA[@Senior&Dickson]]></Value>
    </linkText>
  </Properties>
</Content>